<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.area.gamecubeAdapter</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Applications/wiiu-gc-adapter/wiiu-gcc-adapter-bin</string>
    </array>
    <key>LaunchEvents</key>
    <dict>
            <key>com.apple.iokit.matching</key>
            <dict>
                    <key>com.apple.device-attach</key>
                    <dict>
                            <key>idProduct</key>
                            <integer>823</integer>
                            <key>idVendor</key>
                            <integer>1406</integer>
                            <key>IOProviderClass</key>
                            <string>IOUSBDevice</string>
                            <key>IOMatchStream</key>
                            <true/>
                    </dict>
            </dict>
    </dict>
</dict>
</plist>

